body {
    font-family: Arial, sans-serif;
    background-color: #dc9811;
  }
  
  .container {
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .list-group-item {
    cursor: pointer;
  }
  
  .list-group-item:hover {
    background-color: #626264;
  }
  